$color_blanco: #FFF;
$color_negro: #000000 !default;
$color_rosado:rgb(255, 0, 119);
$color_azul: rgb(32, 0, 73);
$shadow_grey: rgb(218, 206, 214);
$borde_gris: rgb(190, 190, 190);
$background_gradiente: linear-gradient(to bottom, rgb(247, 240, 247), rgb(231, 211, 231));
$titulo_gris: rgb(68, 68, 68);