@import "colores";
@import "tipografia";

body{
    margin: auto;
    background-image: $background_gradiente;
    font-family: $tipo_base;
    text-align: center;
}

/* CABEZAL: Aplica para todas las páginas */

header{
    height: 100px;
    width: 100%;
    background-color: $color_blanco;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.header__logo{
    margin-right: 20px;
    margin-left: 50px;
}
.header__logo img{
    width: 150px;
}
.header__logo img:hover{
    content: url("../imagenes/index/logoHover.png");
}
nav{
    margin-left: 70px;
}
.nav__boton--contacto{
    height: 30px;
    padding: 10px;
    color: $color_blanco;
    background-color: $color_rosado;
    border-radius: 5px;
}

.nav__boton--contacto:hover{
    background-color: $color_azul;
}
.nav__menu--seleccionado{
    color: $color_rosado;
}

.nav__menu--superior{
    padding-left: 10px;
    color: $color_negro;
    font-style: normal;
    line-height: 20px;
}
.subMenu{
    padding-left: 10px;
    color: $color_negro;
    font-style: normal;
    line-height: 20px;
}
nav ul li{
    display: inline;
}
header nav ul li a{
    text-decoration: none;
}
header nav ul li a:hover{
    opacity: 0.7;
}



/* PRESENTACIÓN: Aplica para la Home */

.textoPresentacion{
    z-index: 1;
}

#presentacion{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}
#presentacion h1{
    padding-top: 150px;
    width: 70%;
}




/* GENERAL: Aplica para todas las páginas */

h1{
    padding-top: 100px;
    color:$titulo_gris;
    font-family: $tipo_titulares;
    font-size: 40px;
}
h2{
    margin-top: 20px;
    color:$titulo_gris;
    font-family: $tipo_titulares;
    font-size: 40px;
}
h3{
    color:$color_rosado;
}
.main__banner{
    padding: 100px;
    padding-top: 130px;
    background-image: url("../imagenes/beneficios/bannerWeb.png");
    background-size: cover;
}
#prefooterContacto{
    height: 150px;
    width: 100%;
    margin-top: 50px;
    background-image: url("../imagenes/index/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-family: $tipo_base;
    font-size: 15px;
}
li{
    text-align: left;
    list-style-type: none
}






/* FORMULARIOS */

#formularioApertura{
    margin-top: -120px;
    padding: 100px 400px 600px 400px;
    height: 130px;
    width: 70%;
    background-image: url("../imagenes/index/banner.png");
    background-repeat: no-repeat;
    background-position:top;
    background-size: 45%;
    z-index: 0;
    transition: background-size 2s;
}
#formularioApertura:hover{
    background-size: 40%;
}

#formularioCierre{
    padding: 80px;
    justify-content: center;
    background-image: url("../imagenes/index/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
input[type=text] {
    height: 40px;
    margin: 5px;
    width: 25%;
    border: solid 1.5px $borde_gris;
    box-shadow: 0px 4px 10px $shadow_grey;
    border-radius: 5px;
    justify-content: center;
}
input[type=email] {
    height: 40px;
    margin: 5px;
    width: 25%;
    border: solid 1.5px $borde_gris;
    box-shadow: 0px 4px 10px $shadow_grey;
    border-radius: 5px;
    justify-content: center;
}
input[type=telefono] {
    height: 40px;
    margin: 5px;
    width: 25%;
    border: solid 1.5px $borde_gris;
    box-shadow: 0px 4px 10px $shadow_grey;
    border-radius: 5px;
    justify-content: center;
}
input[type=submit] {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: $color_blanco;
    background-color: $color_rosado;
    box-shadow: 0px 4px 10px $shadow_grey;
    border-radius: 5px;
    border: none;
}
input[type=submit]:hover{
    background-color:$color_azul;
}
input[type=reset] {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: $color_blanco;
    background-color:$borde_gris;
    box-shadow: 0px 4px 10px $shadow_grey;
    border-radius: 5px;
    border: none;
}
input[type=reset]:hover{
    opacity: 0.8;
}
input[type=button] {
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    color: $color_blanco;
    background-color:$borde_gris;
    box-shadow: 0px 4px 10px $shadow_grey;
    border-radius: 5px;
    border: none;
}
input[type=button]:hover{
    opacity: 0.8;
}
textarea{
    height: 80px;
    margin: 5px;
    width: 25%;
    border: solid 1.5px $borde_gris;
    box-shadow: 0px 4px 10px $shadow_grey;
    border-radius: 5px;
    justify-content: center;
}
button{
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    color: $color_blanco;
    background-color: $color_rosado;
}
form p{
    font-size: 14px;
}
button{
    border-radius: 5px;
    border: none;
}
button:hover{
    opacity: 0.8;
}



 /* BENEFICIOS: Aplica para Home y Beneficios */

 .ul__li--lista {
    padding-right: 15px;
    font-style: $color_azul;
    display: inline-block;
 }
 .sectionBeneficios{
    width: 100%;
    margin-bottom: 70px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
 }
.articleBeneficios{
    width: 70%;
    min-width: 440px;
    max-width: 1000px;
    margin-top: 15px;
    background-color: $color_blanco;
    box-shadow: 0px 4px 10px $shadow_grey;
    display: flex;
    justify-content: center;
    flex-direction:row;
    border-radius: 15px;
}
.articleBeneficios:hover{
    transform:scale(1.05,1.05);
}
.articleBeneficios__img{
    margin: 15px;
    margin-left: 50px;
    height: 150px;
    align-items: center;
    display: block;
}
.articleBeneficios__texto{
    text-align: left;
}


 /* PROPUESTA DE VALOR: Aplica para Home */

#propuestaDeValor{
    width: 100%;
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
aside{
    margin-left: 50px;
    margin-right: 70px;
    max-width: 400px;
    min-width: 220px;
    margin-bottom: 30px;
    text-align: left;
    display: block;
}
#tituloPdV{
    margin-bottom: -15px;
    margin-top: 0px;
    font-size: 28px;
}
#imagenPdV{
    margin-right: 50px;
    width: 30%;
    min-width: 300px;
    max-width: 350px;
    display: block;
}




 /* CLIENTES Y RESEÑAS: Aplica en Home y en Clientes */

.logoMarcas h2{
    text-align: center;
}
.testimonios{
    margin-top: 150px;
}
.testimonios h2{
    margin-bottom: 70px;
}
.logoMarcas{
    margin-top: 100px;
    margin-bottom: 50px;
    min-width: 380px;
}
.clientes{
    max-width: 800px;
    min-width: 400px;
    width: 90%;
    margin: auto;
    display: wrap;
    justify-content: center;
    align-content: center;
    align-self: center;
}
.clientes__img{
    width: 130px;
    min-width: 120px;
    max-width: 175px;
    height: 100px;
    margin: 13px;
    box-shadow: 0px 10px 10px $shadow_grey;
    flex-grow: 0; 
    flex-shrink: 1;
    align-self: center;
    border-radius: 15px;
}
.clientes__img:hover{
    opacity: 0.7;
    transform:scale(1.1,1.1);
}
.reviews__resena{
    margin: 20px;
    width: 25%;
    max-width: 300px;
    background-color: $color_blanco;
    box-shadow: 0px 10px 10px $shadow_grey;
    border-radius: 15px;
}
.reviews__resena:hover{
    transform:scale(1.05,1.05);
}
.reviews__resena h3{
    padding-left: 10px;
    padding-right: 10px;
}
.reviews__resena p{
    padding-left: 10px;
    padding-right: 10px;
}
 .resena__img{
    width: 80px;
    height: 80px;
    margin-top: -40px;
    border-radius: 50%;
 }
 .resena__h3--uppercase{
    text-transform: uppercase;
    font-size: 12px;
 }
 .reviews{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 /* EMPRESA: Aplica únicamente en Empresa */

 #quienesSomos {
    margin: auto;
    margin-bottom: 200px;
    text-align: center;
}
#quienesSomos h2{
    margin: auto;
    margin-top: 120px;
    width: 60%;
    margin-bottom: 40px;
}
#quienesSomos p{
   width: 50%;
   margin:auto;
}
iframe{
    width: 80%;
    height: 600px;
}


 /* FOOTER: Aplica en todas las páginas */

 footer{
    height: 200px;
    width: 100%;
    background-color: $color_blanco;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
 }

.footer__menu{
    min-width: 80px;
    margin-right: 10px;
    font-style: normal;
    font-size: 14px;
    text-align: left;
}

.footer__logo{
    margin-left: 50px;
    margin-right: 200px;
    max-width: 400px;
    text-align: left;
}
footer ul li{
    text-decoration: none;
}
.footer ul li a{
    color: $color_negro;
    text-decoration: none;
}
footer ul li a:hover{
    opacity: 0.7;
}



/* BLOG: Página con Grid */

#grid{
    display:grid;
    grid-template-areas:
    "header header header"
    "categoriaBlog posteos ranking"
    "footer footer footer";
    grid-template-rows: 100px auto 200px;
    grid-template-columns: 1fr 3fr 2fr;
    justify-items: stretch;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin: 0px;
}
header{
    grid-area: header;
}
footer{
    grid-area: footer;
}
.menuCategoria{
    color: $color_negro;
    font-size: 18px;
    text-align:left;
    line-height: 10px;
    text-decoration: none;
    line-height: 60px;
}
.menuCategoria:hover{
    color: $color_rosado;
}
.posteo{
    min-width: 350px;
    margin: 10px;
    background-color: $color_blanco;
    box-shadow: 0px 4px 10px $shadow_grey;
    display: flex;
    min-width: 350px;
    justify-self: end;
    justify-content: right;
    flex-direction:row;
    border-radius: 15px;
}
.posteo:hover{
    transform: scale(1.03, 1.03);
 }
.posteo__img{
    margin: 20px;
    height: 200px;
    align-items: center;
    display: block;
    border-radius: 15px;
}
#categoriaBlog h2{
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 20px;
}
.posteo-ranking__texto h3{
    color: $color_negro;
    font-size: 16px;
    text-align: left;
    width: 100px;
}
aside#ranking{
   margin-right: 100px;
   grid-area: ranking;
   justify-content: center;
   justify-self: start;
}
#ranking h2{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    text-align: center;
    justify-self: center;
}
.posteo-ranking{
    margin:10px;
    background-color: $color_blanco;
    box-shadow: 0px 4px 10px $shadow_grey;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.posteo-ranking:hover{
    transform: scale(1.05, 1.05);
 }
.posteo-ranking__img{
    margin: 10px;
    margin-left: 160px;
    height: 150px;
    align-items: center;
    display: block;
    border-radius: 10px;
}
.posteo__texto--ver-mas a{
    color: $color_rosado;
}
.posteo__texto--ver-mas{
    color: $color_rosado;
}
.posteo__texto--ver-mas:hover{
    opacity: 0.8;
 }
.posteo__texto{
    text-align: left;
    align-self: center;
 }
 .posteo-ranking__texto{
    display:flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-left: -20px;
 }
 section#posteos{
    grid-area: posteos;
    justify-content: end;
    justify-self: center;
 }
 section#categoriaBlog{
    grid-area: categoriaBlog;
    justify-content: end;
    justify-self: end;
 }


/* POSTEOS */

.carousel{
    z-index: 1;
}
#carouselExampleControls{
    z-index: 1;
}
.carousel-item img{
    z-index: 1;
}
.d-block{
    z-index: 1;
}
.carousel-item{
    max-height: 700px;
    background-size: cover;
    z-index: 1;
}
.row{
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}
.loMasLeido{
    max-width: 800px;
    margin: auto;
    padding-left: 30px;
    margin-bottom: 15px;
    color: $color_negro;
    text-align: left;
    font-size: 18px;
    font-family: 'Frank Ruhl Libre', serif;
}
.breadcrumb{
    max-width: 800px;
    margin: auto;
    padding-top: 40px;
    padding-left: 15px;
    color:$color_rosado;
}
.breadcrumb a{
    text-decoration: none;
}
.contenido-posteo__texto{
    max-width: 800px;
    margin:auto;
    margin-bottom: 60px;
    padding-left: 15px;
    line-height : 25px;
    font-style: normal;
    font-size: 18px;
    text-align: left;
}
.contenido-posteo{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    margin-bottom: 70px;
    margin-top: -200px;
    background-color: $color_blanco;
    box-shadow: 0px 4px 10px $color_blanco;
    border-radius: 15px;
    position: relative;
    z-index: 2;
}
.btn{
    padding: 7px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 50px;
    margin-top: 10px;
    background-color:$color_rosado;
    border: none;
}
.btn:hover{
    background-color:$color_azul;
}
.btn a{
    color:$color_blanco;
    text-decoration: none;
}
.btn:hover{
    transform:scale(1.05,1.05);    
}
.contenido-posteo__boton--contacto{
    max-width: 800px;
    margin:auto;
    margin-bottom: 60px;
    line-height : 25px;
    font-style: normal;
    font-size: 18px;
    text-align: center;
}
.contenido-posteo div h3{
    color: $color_negro;
    font-size: 22px;
    font-family: $tipo_titulares;
}
.contenido-posteo div h2{
    font-size: 28px;
}
.col a{
    color: $color_negro;
    text-decoration: none;
}
.col:hover{
    transform:scale(1.05,1.05);    
}


/* 404 */
#pageNotFound{
    height: 100%;
    padding-top: 130px;
}

#pageNotFound__img{
    margin-top: 60px;
    margin-bottom: 70px;
    width: 20%;
}
#pageNotFound__texto{
    margin-top: 30px;
    margin-bottom: 200px;
}




 /* RESPONSIVE: Adaptación para TABLETS */
 @media only screen and (max-width: 1000px){

    /* Header */
    header{
        height: auto;
        width: 100%;
        border-bottom: solid 1px $borde_gris;
        box-shadow: 0px 4px 10px $shadow_grey;
        display:block;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    .nav__menu--contactoSeleccionado{
        color: $color_rosado;
    }
    .header__logo{
        margin: 0px;
        margin-top: 20px;
    }     
    nav{
        margin:auto;
        align-content: center;
        width: 480px;
        font-size: 14px;
        align-content: center;
    }
    .nav__boton--contacto{
        padding: 0px;
        color: $color_negro;
        background: none;
        border:none;
    }
    iframe{
        width: 100%;
        height: 450px;
    }      
    label{
        justify-content: center;
    }
        
    /* Clientes y reseñas */
 
    .reviews__resena{
        margin: 10px;
        margin-bottom: 50px;
        width: 80%;
    }
    #formularioApertura{
        padding: 100px 200px 600px 200px;

    }
    input[type=text] {
        width: 60%;
    }
    input[type=email] {
        width: 60%;
    }
    input[type=telefono] {
        width: 60%;
    }
    textarea {
        width: 60%;
    }
    input[type=submit] {
        width: 40%;
        margin: 5px;
    }
    footer{
        width: 100%;
    }
    .footer__logo{
        margin-right: 100px;
    }
    .testimonios{
        margin-top: 120px;
    }
    .testimonios h2{
        margin:auto;
        margin-bottom: 60px;
        width: 80%;
    }

    /* Grid */

    #grid{
        display:grid;
        grid-template-areas:
        "header"
        "categoriaBlog"
        "posteos"
        "ranking"
        "footer";
        grid-template-rows: 100px auto auto 200px;
        grid-template-columns: auto;
        justify-items: stretch;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        margin: 0px;
    }
    .menuCategoria{
        font-size: 16px;
        line-height: 30px;
        }

    /* BLOG: Página con Grid */
    .posteo{
        background-color: $color_blanco;
        box-shadow: 0px 4px 10px $shadow_grey;
    }
    aside#ranking{
        margin-right: 0px;
        grid-area: ranking;
        justify-content: center;
        justify-self: center;
     }
     section#categoriaBlog{
        grid-area: categoriaBlog;
        justify-content: center;
        justify-self: center;
     }

    /* 404 */
    #pageNotFound{
        padding-top: 130px;
    }

    #pageNotFound__img{
        margin-top: 30px;
        margin-bottom: 40px;
        width: 40%;
    }
    #pageNotFound__texto{
        margin-top: 30px;
        margin-bottom: 200px;
    }
}





 /* RESPONSIVE: Adaptación para CELULARES grandes */
@media only screen and (max-width: 500px){
    
    /* Header */

    header{
        height: auto;
        width: 100%;
        border-bottom: solid 1px $shadow_grey;
        box-shadow: 0px 4px 10px $shadow_grey;
        display:block;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }
    .header__logo{
        margin: 0px;
        margin-top: 15px;
    }
    .header__logo img{
        width: 110px;
    }
    nav{
        margin-left: 0px;
        width: 480px;
        font-size: 14px;
        align-content: center;
    }
    .nav__boton--contacto{
        padding: 0px;
        color:$color_negro;
        background: none;
        border:none;
    }
    h1, h2{
        font-size: 30px;
    }
    #presentacion h1{
        margin-top: 130px;
    }
  
  
    /* Cabezal */
    #formularioApertura{
        margin-top: -20px;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 200px;
        width: 100%;
        padding-bottom: 70px;
        background-image: url("../imagenes/index/banner480.png");
        background-size: 80%;
        justify-content: center;
        align-items: center;
    }
    input[type=text] {
        width: 60%;
    }
    input[type=email] {
        width: 60%;
    }
    input[type=submit] {
        width: 40%;
        margin: 5px;
    }
    label{
        justify-content: center;
    }

    /* Presentación */
    main{
        width: 100%;
        margin-left: 0px;
    }
    #presentación{
        width: 100%;
        margin-left: 0px;
        padding-top: 80px;
    }
    #presentacion h1{
        width: 440px;
        margin-left: 0px;
        padding-top: 50px;
        font-size: 30px;
    }
    .textoPresentacion{
        width: 390px;
        margin-left: 0px;
    }

    /* Beneficios */
    h2{
        width: 440px;
        margin-left: 0px;
        font-size: 30px;
    }
    p{
        font-size: 14px;
    }   
    aside{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        display: block;
    }    
    .articleBeneficios__img{
        margin: 15px;
        height: 150px;
        align-items: center;
        display: block;
    }
    .ul__li--lista {
        font-size: 14px;
    }

    /* Clientes y reseñas */
    .testimonios{
        margin-top: 120px;
    }
    .testimonios h2{
        margin-bottom: 60px;
    }
    .reviews__resena{
        margin: 20px;
        margin-bottom: 50px;
        width: 80%;
        max-width: 400px;
    }
    .reviews__resena p{
        margin:20px;
        margin-bottom: 40px;
    }
    .reviews{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Footer */
    footer{
        height: 220px;
    }
    .footer__logo{
        margin-left: 30px;
    }
    .footer__logo p {
        font-size: 13px;
    }
    .footer__menu{
        font-size: 13px;
    }

    /* EMPRESA: Aplica únicamente en Empresa */
    #quienesSomos {
        margin: auto;
        margin-bottom: 50px;
        text-align: center;
    }
    #quienesSomos h2{
        width: 80%;
    }
    #quienesSomos p{
        width: 80%;
    }
    iframe{
        width: 100%;
        height: 350px;
    }
    input[type=text] {
        width: 60%;
    }
    input[type=email] {
        width: 60%;
    }
    input[type=telefono] {
        width: 60%;
    }
    textarea {
        width: 60%;
    }

  
/* Grid */

#grid{
    display:grid;
    grid-template-areas:
    "header"
    "categoriaBlog"
    "posteos"
    "ranking"
    "footer";
    grid-template-rows: 100px auto auto 200px;
    grid-template-columns: auto;
    justify-items: stretch;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    margin: 0px;
}
.menuCategoria{
    font-size: 16px;
    line-height: 30px;
    }

/* BLOG: Página con Grid */
.posteo{
    background-color: $color_blanco;
    box-shadow: 0px 4px 10px $shadow_grey;
}
aside#ranking{
    margin-right: 0px;
    grid-area: ranking;
    justify-content: center;
    justify-self: center;
 }
 section#categoriaBlog{
    grid-area: categoriaBlog;
    justify-content: center;
    justify-self: center;
 }
.posteo-ranking__img{
    margin-left: 5px;
}
    
    /* 404 */
    #pageNotFound{
    padding-top: 130px;
    }

    #pageNotFound__img{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 60%;
    }
    #pageNotFound__texto{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 250px;
    }
}

 /* RESPONSIVE: Adaptación para CELULARES chicos */
 @media only screen and (max-width: 325px){

    /* Header */
    nav{
        margin: auto;
        width: 100%;
        font-size: 12px;
        align-content: center;
    }
    nav ul{
        margin-left: -70px;
    }
    .header__logo{
        margin-top: 20px;
        margin-left: -30px;
    }
    
    /* Presentación */

    #presentacion h1{
        font-size: 25px;
        margin-top: 80px;
        max-width: 290px;
    }
    .textoPresentacion{
        width: 280px;
    }
  
    /* Beneficios */
    h2{
        font-size: 25px;
        max-width: 290px;
    }
    p{
        font-size: 13px;
    }   
    aside{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        display: block;
    }    
    .articleBeneficios{
        margin-left: 7px;
        min-width: 300px;
    }

    .articleBeneficios__img{
        margin: 15px;
        height: 50px;
        display: none;
    }
    .articleBeneficios__texto{
        width: 230px;
    }
    .ul__li--lista {
        font-size: 12px;
        width: 300px;
        display: inline;
    }
    .articleBeneficios aside ul{
        width: 300px;
        margin-left: -40px;
    }

    /* Propuesta de valor */
    #tituloPdV{
        margin-left: 15px;
        width: 280px;
    }
    #propuestaDeValor aside p{
        margin-left: 15px;
        width: 280px;
    }
    #imagenPdV{
        margin-right: 0px;
        margin-top: 25px;
    }

    /* Clientes y reseñas */
    .logoMarcas{
        margin-top: 100px;
        margin-bottom: 50px;
        min-width: 310px;
    }
    .clientes{
        min-width: 310px;
        width: 90%;
        margin: auto;
    }
    .clientes__img{
        width: 120px;
        min-width: 90px;
        height: 85x;
        margin: 10px;
    }

 /* Footer */
 footer{
    height: 400px;
    display: block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
 }

.footer__menu{
    min-width: 80px;
    font-size: 14px;
    text-align: left;
}

.footer__logo{
    margin: auto;
    padding-top: 50px;
    max-width: 300px;
    text-align: center;
    display: block;
    padding-bottom: 20px;
    width: 100%;
}
.footer div p{
    text-align: center;
    width: 280px;
}
footer ul{
    margin-left: 60px;
}
#formularioCierre{
    padding: 20px;
    width: 100%;
    justify-content: center;
    background-image: url("../imagenes/index/banner2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Contacto */
#contacto__formulario h2{
    width: 300px;
    text-align: center;
    margin: auto;
}
#contacto__formulario p{
    width: 280px;
    text-align: center;
    margin: auto;
}

/* BLOG: Página con Grid */
#grid{
    margin: 0px;
    display:grid;
    grid-template-areas:
    "header"
    "posteos"
    "ranking"
    "footer";
    grid-template-rows: 100px auto auto 200px;
    grid-template-columns: auto;
    justify-items: stretch;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}
header{
    grid-area: header;
    justify-content: start;
    justify-items: center;
    width: 100%;
 }
#categoriaBlog{
    display: none;
}
section#posteos{
    grid-area: posteos;
    justify-content: center;
    justify-self: center;
    margin-top: 40px;
 }
 #posteos h2{
     margin-bottom: 30px;
 }
.posteo{
   min-width: 270px;
   margin: 10px;
   width: 270px;
}
.posteo__img{
   margin: 20px;
   height: 80px;
   align-items: center;
   display: none;
}
.posteo__texto{
   width: 250px;
   margin: auto;
   display: block;
   text-align: center;
   align-self: center;
}
.posteo__texto h3{
    font-size: 16px;;
 }
.posteo__texto p{
    width: 250px;
 }
.posteo__texto--ver-mas{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.posteo-ranking__img{
   display: inline;
   width: 70px;
   height: 70px;
   margin-left: 70px;
   margin-right: 20px;
}
.posteo-ranking{
   margin: auto;
   margin-bottom: 10px;
   margin-top: 10px;
   width: 270px;
}
.posteo-ranking__texto{
    margin-left: 0px;
    display:block;
    flex-direction: column;
    text-align: left;
    align-items: center;
 }
 aside#ranking{
    margin-right: 0px;
    grid-area: ranking;
    justify-content: center;
    justify-self: center;
 }
#ranking h2{
   margin-left: -50px;
   font-size: 25px;
   text-align: center;
   justify-self: center;
}

/* POSTEOS */

.contenido-posteo__texto{
    width: 300px;
    margin:auto;
    font-size: 13px;
    text-align: left;
}
main div h1{
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 0px;
}
main div h2{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
main div h3{
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.btn-primary{
    font-size: 14px;
}
.contenido-posteo__boton--contacto{
    font-size: 14px;
}
.loMasLeido{
    font-size: 20px;
}

.contenido-posteo{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
    margin-bottom: 70px;
    margin-top: -30px;
}
    /* 404 */
    #pageNotFound{
        padding-top: 100px;
    }
    
    #pageNotFound__img{
        margin-top: 30px;
        margin-bottom: 20px;
        width: 80%;
    }
    #pageNotFound__texto{
        margin: auto;
        margin-top: 30px;
        margin-bottom: 250px;
    }
}